* {
    border: 0;
    padding: 0;
    outline: 0;
    margin: 0;
}

html {
    text-rendering: optimizeLegibility;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.attribution { 
    font-size: 14px;
    text-align: center;
    display: block;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 15px;
    background-color: hsl(210, 46%, 95%);
}

.fullname {
    font-size: 14px;
    font-weight: 600;
}

.occupation {
    font-size: 12px;
    font-weight: 500;
    opacity: 50%;
}

.user {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .3);
    padding: 25px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user h3 {
    font-size: 18px;
    z-index: 10;
}

.user p {
    opacity: 70%;
    font-size: 12px;
}

.user--1 {
    background-color: blue;
    grid-area: 3 / 4 / 6 / 11;
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 81%);
    position: relative;
}

.user--1::after {
    content: "\201C";
    position: absolute;
    color: hsl(0, 0%, 81%);
    top: -60px;
    right: 80px;
    font-size: 500px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    z-index: 0;
    opacity: 40%;
}

.user--2 {
    background-color: brown;
    grid-area: 3 / 11 / 6 / 14;
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 81%);
}

.user--3 {
    background-color: cadetblue;
    grid-area: 6 / 4 / 9 / 7;
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

.user--4 {
    background-color: coral;
    grid-area: 6 / 7 / 9 / 14;
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
}

.user--5 {
    background-color: crimson;
    grid-area: 3 / 14 / 9 / 17;
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

.user--info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user--image {
    border-radius: 50%;
    max-width: 40px;
    margin-right: 10px;
    outline: 1px rgba(255, 255, 255, .5) solid;
}

.user--details {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 660px) {
    .testimonials {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1300px) {
    .user--1 {
        grid-area: 3 / 3 / 6 / 10;
    }
    .user--2 {
        grid-area: 3 / 10 / 6 / 14;
    }
    .user--3 {
        grid-area: 6 / 3 / 9 / 7;
    }
    .user--5 {
        grid-area: 3 / 14 / 9 / 18;
    }
}

@media only screen and (max-width: 1000px) {
    .user--1 {
        grid-area: 3 / 2 / 6 / 10;
    }
    .user--2 {
        grid-area: 3 / 10 / 6 / 15;
    }
    .user--3 {
        grid-area: 6 / 2 / 9 / 6;
    }
    .user--4 {
        grid-area: 6 / 6 / 9 / 15;
    }
    .user--5 {
        grid-area: 3 / 15 / 9 / 19;
    }
}

@media only screen and (max-width: 800px) {
    .user--1 {
        grid-area: 3 / 1 / 6 / 10;
    }
    .user--2 {
        grid-area: 3 / 10 / 6 / 15;
    }
    .user--3 {
        grid-area: 6 / 1 / 9 / 6;
    }
    .user--4 {
        grid-area: 6 / 6 / 9 / 15;
    }
    .user--5 {
        grid-area: 3 / 15 / 9 / 20;
    }
}